
.home-container{
    text-align: center;
    margin-top: 300px;
  }
  
  .home-heading{
    color: white;
    font-weight: lighter;
  }
  
  .home-button{
    color: white;
    font-weight: lighter;
    background-color: rgb(16, 207, 16);
    width: 200px;
    height: 40px;
    border-radius: 100px;
    outline: none;
    cursor: pointer;
  }